.about-main {
  img {
    width: 100%;
  }
  .content {
    padding: 3rem $layoutInlinePadding;
    h1 {
      margin-bottom: 1.5rem;
    }
    .explore {
      background-color: #ffcc8d;
      padding: 2rem;
      border-radius: 5px;
      margin-top: 3rem;
      a {
        @include buttonShape(#000, 1rem 1.5rem, $radius: 10px);
        margin-top: 1.5rem;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          top: 2.2rem;
          width: 0;
          height: 2px;
          background-color: #fff;
          transition: 0.3s;
        }
        &:hover::before {
          width: calc(100% - 3rem);
        }
      }
    }
  }
}
