.host-dashboard {
  margin-block: 2.5rem;
  .details,
  .view-all,
  .edit {
    color: $blackClr;
    font-weight: 500;
  }
  .income,
  .review-score,
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .welcome {
    background-color: $darkBeigeClr;
    padding: 2rem $layoutInlinePadding;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .income {
      p {
        color: $grayClr;
        font-weight: 500;
        span {
          font-weight: bold;
          text-decoration: underline;
        }
      }
    }
    .total {
      color: $blackClr;
      font-size: 3rem;
      font-weight: 800;
    }
  }
  .review-score {
    background-color: #ffddb2;
    padding: 2rem $layoutInlinePadding;
    h2 {
      color: $blackClr;
      .star {
        color: $orangeClr;
        margin-left: 1rem;
      }
      span {
        color: $grayClr;
        font-weight: 500;
      }
    }
  }
  .vans-list {
    padding-inline: $layoutInlinePadding;
    margin-top: 2.375rem;
    .header {
      margin-bottom: 2rem;
    }
    .vans-container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .van-tile {
        display: flex;
        align-items: center;
        background-color: #fff;
        padding: 1rem;
        border-radius: 6px;
        img {
          max-width: 4rem;
          border-radius: 5px;
        }
        .info {
          margin-left: 1rem;
          h3 {
            color: $blackClr;
            margin-bottom: 0.625rem;
          }
          .price {
            font-size: 1rem;
            font-weight: 500;
            color: $grayClr;
            &::after {
              content: attr(data-period);
            }
          }
        }
        .edit {
          margin-left: auto;
        }
      }
    }
  }
}
