$beigeClr: #fff7ed;
$darkBeigeClr: #ffead0;
$grayClr: #4d4d4d;
$blackClr: #161616;
$orangeClr: #ff8c38;
$simple: #e17654;
$luxury: #161616;
$rugged: #115e59;
$fontFamily: "Inter", sans-serif;
$layoutInlinePadding: 1.5rem;
