.error-boundary {
  max-width: 40rem;
  margin: 3rem auto;
  padding-inline: $layoutInlinePadding;
  text-align: center;
  .desc {
    margin-block: 1.5rem;
    line-height: 1.5;
  }
  .link-button {
    @include buttonShape($blackClr, $padding: 1rem);
    width: 100%;
  }
}
