.host-layout-main {
  ul {
    padding: 3rem $layoutInlinePadding 0;
    display: flex;
    gap: 1rem;
    li a {
      color: $grayClr;
      font-size: 1.125rem;
      font-weight: 500;
      &:hover {
        color: $blackClr;
      }
    }
  }
}
