.host-van-details {
  padding-inline: $layoutInlinePadding;
  margin-block: 2.5rem;
  .go-back {
    color: #201f1d;
    font-weight: 500;
    &:hover {
      text-decoration: underline;
    }
    .arrow {
      color: #858585;
      font-size: 0.9rem;
      margin-right: 0.2rem;
    }
  }
  .van {
    background-color: #fff;
    margin-top: 2rem;
    padding: 1.5rem;
    border-radius: 5px;
    .head {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-bottom: 1.5rem;
      img {
        border-radius: 0.5rem;
        width: 10rem;
      }
      .van-info {
        .van-type {
          @include buttonShape();
        }
        h2 {
          margin-block: 1rem;
        }
        .price {
          font-size: 1.2rem;
          font-weight: bold;
          &::after {
            content: attr(data-period);
            font-size: 0.9rem;
            font-weight: 500;
          }
        }
      }
    }
    .van-nav {
      display: flex;
      gap: 1rem;
      margin-bottom: 1rem;
      a {
        text-transform: capitalize;
        color: $grayClr;
        font-weight: 500;
        &:hover {
          color: $blackClr;
        }
      }
    }
  }
}
