* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 2rem;
}

body {
  background-color: $beigeClr;
  font-family: $fontFamily;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  main {
    flex: 1;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.active-link {
  color: $blackClr !important;
  font-weight: bold !important;
}

.van-type {
  &:hover,
  &.selected {
    color: $darkBeigeClr !important;
    &.simple {
      background-color: $simple !important;
    }
    &.luxury {
      background-color: $luxury !important;
    }
    &.rugged {
      background-color: $rugged !important;
    }
  }
}

button:disabled {
  background-color: #aaa !important;
}
