.not-found-main {
  padding: 3rem $layoutInlinePadding;
  max-width: 30rem;
  margin: auto;
  h1 {
    color: $blackClr;
    margin-bottom: 2rem;
  }
  a {
    @include buttonShape($blackClr, $padding: 1rem);
    width: 100%;
  }
}
